#title{
    padding: 20px 0px 0px 0px;
}

h1{
    color: rgb(209, 167, 89);
}
h2{
    color: rgb(235, 201, 139);
}
h3{
    color: wheat;
}
menu{
    padding: 20px 0px 30px 0px;
}

#menu{
    color: rgb(235, 201, 139);
    text-decoration: none;
    padding: 30px;
}

a{
    color: rgb(233, 188, 106);
    text-decoration: none;
}

p{
    color: whitesmoke;
}

li{
    color: whitesmoke;
}

body{
    background-color: cornflowerblue;
    margin: 0px 500px;
}